* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(1, 11, 12);
    font-family: sans-serif;
    position: relative;
}

.button {
    background-color: rgb(170, 9, 9);
    width: 500px;
    height: 100px;
    border-radius: 25px;

    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    color: white;
    text-shadow: 0 3px black;

    position: absolute;
    top: 50%;
    left: 50%;

    transition-property: all;
    transform: translate(-50%, -50%);
    transition-duration: 500ms;
}

.button:hover {
    box-shadow: 0px 0px 30px rgba(218, 15, 15, 0.658);
    text-shadow: 0px 0px 25px white;
}